@import "tailwindcss";

@theme {
    --font-roboto: "Poppins", sans-serif;

    --color-blue-primary: #16B6BF;
    --color-blue-secondary: #3AB9B9;
    --color-yellow: #ECD86A;
    --color-orange: #edac32;
    --color-red: #EF605E;
}